.chatButton {
  position: fixed;

  right: 32px;
  bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;

  z-index: 50;
}

.chatButton img {
  display: block;

  width: 48px;
  height: 48px;
}
