.page {
  width: 100vw;
  height: 100vh;

  display: flex;

  overflow: hidden;

  background-color: #0d1021;
}

.mainContent {
  position: relative;

  width: calc(100vw - 234px);
  height: 100vh;

  flex-shrink: 0;

  overflow: auto;

  background-color: #0d1021;
}

.chatButton {
  position: fixed;

  right: 32px;
  bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;

  z-index: 50;
}

.chatButton img {
  width: 48px;
  height: 48px;

  display: block;
}
