.card {
  position: relative;

  width: 160px;
  height: 76px;

  box-sizing: border-box;

  border-radius: 8px;

  background: #15192f;
}


.card span {
  position: absolute;

  top: 13px;
  left: 14px;

  color: rgba(255, 255, 255, 0.75);

  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;

  white-space: nowrap;
}


.card strong {
  position: absolute;

  right: 16px;
  bottom: 11px;

  color: #ffffff;

  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}